table{
    border: 1px solid black;
    width: 100%;  
}
th{
    border: 1px solid black;
    height: 50%;
}
td{
    border:1px solid black ;
    height: 100%;
    text-align: center;
}
.session{
    background-color: #cce551;
}
#mahi{
    background-color: blue;
    color: white;
}